.register {
    display: flex;
    flex-direction: row;
    width: 550px;
    background-color: #37393E;
    color: #fff;
    box-shadow: 0px 0px 10px #000000;
    border-radius: 5px;
    padding: 20px;
}

.register__form {
    display: grid;
    flex: 1;
    text-align: center;
    place-content: center;
    margin: 25px;
}

.register__form > p {
    color: #B5B7BA;
    margin-top: 5px;
    margin-bottom: 25px;
}

.register__form > h5 {
    color: #7389DA;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 20px;
}

.register__textFields {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
}

.register__textFields > form {
    flex: 1;
}

.register__textFields > form > input {
    width: 100%;
    background: transparent;
    border: none;
    outline-width: 0;
    font-size: 20px;
    font-weight: bold;
    background-color: #313338;
    color: #FFFFFF;
    height: 45px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: inset 0px 0px 2px #000000;
}

.register__textField__button {
    display: none;
}

.register__form__register {
    display: flex;
    flex-direction: row;
    color: #6B6D74;
}

.register__form__register__button{
    margin-left: 5px;
    color: #B5B7BA;
}

.register__form__register__button > h6 {
    margin-right: 5px;
    color: #7389DA;
}

.register__form > button {
    height: 50px;
    width: 100%;
    background-color: #7B91DE;
    color: white;
    font-weight: bold;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #000000;
    margin-top: 15px;
}

.register__toLogin {
    cursor: pointer;
}

@media only screen and (max-width: 828px) {
    .register {
        width: 550px;
    }
    .register__form {
        flex: 1;
    }
    .register__qrCode {
        display: none;
    }
}