.textChannel {
    background-color: #36393F;
    color: white;
    display: flex;
    flex-direction: column;
    flex: 1.0;
    /* padding: 20px; */
    height: 100vh;
}

.textChannel__head {
    height: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    border-bottom: 3px solid #26282c;
    padding: 15px;
}

.textChannel__head__title {
	vertical-align: middle;
}

.textChannel__head__icon {
	vertical-align: middle;
    margin-right: 5px;
	font-size: 20px;
    color: #72767D;
}

.textChannel__messages {
    flex: 1;
    padding: 15px;
}

.textChannel__textField {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #40444A;
    color: #72767D;
    border-radius: 10px;
    height: 45px;
    margin-left: 25px;
    margin-right: 15px;
    margin-bottom: 25px;
    padding-left: 15px;
    padding-right: 15px;
}

.textChannel__textField > .MuiSvgIcon-root {
    cursor: pointer;
    padding: 7.5px;
    color: #B9BBBE;
}

.textChannel__textField > form {
    flex: 1;
    margin-left: 15px;
}

.textChannel__textField > form > input {
    width: 100%;
    background: transparent;
    border: none;
    outline-width: 0;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.textChannel__textField__button {
    display: none;
}

.textChannel__textField__options > .MuiSvgIcon-root {
    cursor: pointer;
    padding: 7.5px;
    color: #B9BBBE;
} 

/* .textChannel__textField__box {
} */

.textChannel__head__actions > .MuiSvgIcon-root {
    cursor: pointer;
    padding: 7.5px;
    color: #B9BBBE;
} 

.textChannel__head__actions > .MuiSvgIcon-root:hover {
    color: #FFF;
} 