.server {
    display: flex;
    flex-direction: column;
    width: 240px;
    height: 100vh;
    background-color: #2F3136;
    color: white;
}

.server__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    border-bottom: 3px solid #26282c;
    padding: 15px;
    height: 25px;
}

.server__mid {
    padding: 10px;
    flex: 1;
}

.server__mid__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #8E9297;
    margin-top: 25px;
    margin-bottom: 10px;
}

.server__mid__head__drop {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.server__mid__head__add {
    cursor: pointer;
}

.server__mid__head__add:hover {
    color: #FFF;
}

.server_channels {
    display: flex;
    margin-bottom: 20px;
}

.server__btm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #292B2F;
    padding: 10px;
}

.server__btm__selfie {
    cursor: pointer;
}

 .server__btm__texts {
     flex: 1;
     text-align: left;
     padding-left: 10px;
}

.server__btm__texts > h5 {
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
}

.server__btm__texts > h6 {
    color: #B9BBBE;
    overflow: hidden;
    text-overflow: ellipsis;
}

.server__btm__icons {
    color: #B8BABD;
}

.server__btm__icons__icon {
    padding: 2.5px;
    cursor: pointer;
} 