.dashboard {
    display: flex;
    flex-direction: column;
    width: 240px;
    background-color: #2F3136;
    color: white;
}

.dashboard__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    border-bottom: 3px solid #26282c;
    padding: 15px;
    height: 25px;
}

.dashboard__mid {
    padding: 10px;
    flex: 1;
}

.dashboard__mid__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #8E9297;
    margin-top: 25px;
    margin-bottom: 10px;
}

.dashboard__mid__head__drop {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dashboard__mid__head__add {
    cursor: pointer;
}

.dashboard__mid__head__add:hover {
    color: #FFF;
}

.dashboard_channels {
    display: flex;
    margin-bottom: 20px;
}

.dashboard__btm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #292B2F;
    padding: 10px;
}

.dashboard__btm__selfie {
    cursor: pointer;
}

 .dashboard__btm__texts {
     flex: 1;
     text-align: left;
     padding-left: 10px;
}

.dashboard__btm__texts > h5 {
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
}

.dashboard__btm__texts > h6 {
    color: #B9BBBE;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dashboard__btm__icons {
    color: #B8BABD;
}

.dashboard__btm__icons > .MuiSvgIcon-root {
    padding: 2.5px;
    cursor: pointer;
} 