.channels {
    cursor: pointer;
    background-color: #3A3C43;
    color: #72767D;
    margin-left: 15px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 10px;
}

.channels_channel {
    cursor: pointer;
}

.channels__hash {
    font-size: 30px;
    font-weight: bold;
}

.channels__name {
    font-size: 25px;
}