.login {
    display: flex;
    flex-direction: row;
    width: 800px;
    background-color: #37393E;
    color: #fff;
    box-shadow: 0px 0px 10px #000000;
    border-radius: 5px;
    padding: 20px;
}

.login__form {
    display: grid;
    flex: 0.6;
    text-align: center;
    place-content: center;
    margin: 25px;
}

.login__form > p {
    color: #B5B7BA;
    margin-top: 5px;
    margin-bottom: 25px;
}

.login__form__textFields {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
}

.login__form__textFields > form {
    flex: 1;
}

.login__form__textFields > form > input {
    width: 100%;
    background: transparent;
    border: none;
    outline-width: 0;
    font-size: 20px;
    font-weight: bold;
    background-color: #313338;
    color: #FFFFFF;
    height: 45px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: inset 0px 0px 2px #000000;
}

.login__form__textFields > form > h5 {
    color: #7389DA;
    text-align: left;
    margin-bottom: 20px;
}

.login__form__textFields > form > button {
    cursor: pointer;
    height: 50px;
    width: 100%;
    background-color: #7B91DE;
    color: white;
    font-weight: bold;
    font-size: 15px;
    border-radius: 5px;
    outline: none;
}


.login__form__register {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    color: #6B6D74;
}

.login__form__register__button{
    margin-left: 5px;
    color: #B5B7BA;
}

.login__form__register__button > h6 {
    color: #7389DA;
}

.login__form__register__button__toRegister {
    cursor: pointer;
}

.login__qrCode {
    display: grid;
    place-items: center;
    place-content: center;
    text-align: center;
    flex: 0.4;
    margin: 25px;
}

.login__qrCode > img {
    object-fit: contain;
    width: 200px;
    margin-bottom: 15px;    
}

.login__qrCode > p {
    color: #B5B7BA;
    margin-top: 5px;
}

@media only screen and (max-width: 828px) {
    .login {
        width: 550px;
    }
    
    .login__form {
        flex: 1;
    }

    .login__qrCode {
        display: none;
    }
}