.servers {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70px;
    background-color: #202225;
    color: white;
}

.servers__me {
    align-items: center;
    background-color: #36393F;
    border-radius: 15px;
    height: 50px;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50px;
    display: flex;
}

.servers__server {
    background-color: white;
    border-radius: 15px;
    height: 50px;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 50px;
}

.servers__selectedServer {
    background-color: red;
    border-radius: 15px;
    height: 50px;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 50px;
}

.servers__add {
    align-items: center;
    background-color: #36393F;
    border-radius: 15px;
    justify-content: center;
    height: 50px;
    width: 50px;
    display: flex;
    margin-top: 5px;
}

.verticalLine {
    border-left: thin solid #FFFFFF;
}