.sidebar {
    display: flex;
    flex-direction: column;
    flex: .25;
    background-color: #2F3136;
    color: white;
    padding: 20px;
}

.sidebar__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    border-bottom: 3px solid #26282c;
    padding-bottom: 20px;
}

.sidebar__mid {
    flex: 1;
    padding: 10px;
}

.sidebar__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #8E9297;
    margin-top: 25px;
    margin-bottom: 10px;
}

.sidebar__drop {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar__add {
    cursor: pointer;
}

.sidebar__add:hover {
    color: #000;
}

.sidebar_channels {
    display: flex;
    margin-bottom: 20px;
}