.channelItem {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    color: #72767D;
    margin-left: 10px;
    margin-bottom: 10px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    height: 25px;
}

.channelItemCurrent {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    color: white;
    background-color: #3A3C43;
    margin-left: 10px;
    margin-bottom: 10px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    height: 25px;
}

.channelItem:hover {
    color: #FFF;
}

.channelItem__channel {
    line-height: 20px;
}

.channelItem__hash {
    font-size: 25px;
    font-weight: 500;
    vertical-align: middle;
    color: #72767D;
}

.channelItem__name {
    font-size: 20px;
    font-weight: bold;
    vertical-align: middle;
}

.channelItem__settings {
    line-height: 20px;
    color: #72767D;
}

.channelItem__settings_icon {
    vertical-align: middle;
    margin-right: 5px;
    color: #72767D;
}

.channelItem__add_icon {
    vertical-align: middle;
    margin-right: 10px;
    color: #72767D;
}